$primary-color: #11af9d;
$secondary-color: #17811b;
$background-color: #dee8ea;
$error-color: #a81106;
$error-color-hover: #ff4c4c;
$warning-color: #ffbb33;
$black: #2c2c2c;

// FONTS
$font-family: "Poppins", sans-serif;
$font-size: 16px;

* {
	margin: 0;
	padding: 0;
	font-size: $font-size;
}

h1 {
	font-size: 2.5rem;
	margin-bottom: 20px;
}
button {
	font-family: $font-family;
	font-weight: 400;
}

@font-face {
	font-family: "Poppins";
	src: url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
}

@mixin btns {
	color: white;
	border: none;
	width: 80px;
	padding: 10px 15px;
	margin-right: 12px;
	border-radius: 4px;
	cursor: pointer;
	font-weight: 600;
}

@mixin spaceBetween {
	display: flex;
	justify-content: space-between;
}
