@import "_general";

.app-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: "Poppins", sans-serif;
	padding: 20px;
	background: $background-color;
	min-height: 100vh;

	h1 {
		color: $black;
		margin: 50px 0px;
	}
}

.todo-list-container {
	width: 1000px;
	border: 1px solid green;
	margin: 0 auto;
	padding: 20px;
	background: #f9f9f9;
	border-radius: 8px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

	.todo-item {
		@include spaceBetween;
		align-items: center;
		padding: 25px;
		border-bottom: 2px dashed #d6831d;
		input[type="text"] {
			flex: 1;
			padding: 5px;
			border: 1px solid #ce5555;
			border-radius: 10px;
			margin-right: 10px;
		}

		&:last-child {
			border-bottom: none;
		}
		.checkContainer {
			display: block;
			position: relative;
			padding-left: 35px;
			margin-bottom: 12px;
			cursor: pointer;
			font-size: 22px;
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
			.checkBoxes {
				position: absolute;
				opacity: 0;
				cursor: pointer;
				height: 0;
				width: 0;
			}
			.checkmark {
				position: absolute;
				top: 0;
				left: 0;
				height: 25px;
				width: 25px;
				background-color: #eee;
				border-radius: 20px;
			}
			&:hover input ~ .checkmark {
				background-color: #ccc;
			}
			& input:checked ~ .checkmark {
				background-color: $secondary-color;
			}
		}

		.verticalLine {
			flex: 1;
			text-decoration: line-through;
		}

		.editBtn {
			@include btns;
			background: $warning-color;
			&:hover {
				background: darken($warning-color, 10%);
			}
		}

		.deleteBtn {
			@include btns;
			background: $error-color;
			&:hover {
				background: $error-color-hover;
			}
		}
	}
}

.todo-form {
	@include spaceBetween;
	margin-bottom: 25px;
	.todoInput {
		padding: 12px;
		border: 1px solid #ddd;
		outline: none;
		box-shadow: inset;
		border-radius: 6px 0 0 6px;
		width: 800px;
	}

	.submitBtn {
		padding: 12px;
		background: $secondary-color;
		border: none;
		color: white;
		width: 120px;
		border-radius: 0 6px 6px 0;
		cursor: pointer;
		&:hover {
			background: darken($secondary-color, 10%);
		}
	}
}
#add-todo-button {
	position: fixed;
	right: 20px;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: $secondary-color;
	color: white;
	border: none;
	font-size: 24px;
	cursor: pointer;
	&:hover {
		background-color: darken($secondary-color, 10%);
	}
}
